.personal-container {
    position: absolute;
    width: 50%;
    left: 50%;
    height: 90%;
}
.personal-interests {
    position: absolute;
    bottom: 50%;
    
}

h1 {
    letter-spacing: 3px;
}

h2 {
    font-size: 25px;
}

li {
    font-size: 18px;
}